/* Header */
.section_header {
	height: 100vh;
}
.header-container {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	height: 100%;
	align-items: center;
	justify-content: center;
}
.header-content {
	disply: flex;
	flex-direction: column;
	gap: 1.25rem;
}
/* End Header */