/* Global CSS changes will go into this file */
/* CSS Reset */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;color:inherit;text-decoration:none;display:block;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* End CSS Reset */

/* General CSS */
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  background-color: var(--white);
  font-family: var(--lato);
}
* {
  box-sizing: border-box;
}
/* End General CSS */

/* Vision Classes */
.hide {
  display: none;
}
.show {
  display: block;
}
/* Text Classes */
.text-align-center {
  text-align: center;
}
.text-align-left {
  text-align: left;
}
/* Padding Classes */
.padding-global {
  padding: 0 2rem;
}
.padding-section-large {
  padding: 4rem 0;
}
.padding-section-medium {
  padding: 2rem 0;
}
.padding-section-small {
  padding: 1rem 0;
}
/* End Padding Classes */

/* Container Classes */
.container-large {
  max-width: 80rem;
  margin: auto;
}
.container-medium {
  max-width: 60rem;
  margin: auto;
}
.container-small {
  max-width: 42rem;
  margin: auto;
}

/* Headings */
h1, .style-h1 {
  font-size: 4rem;
  line-height: 4.75rem;
  font-weight: 700;
}
h2, .style-h2 {
  font-size: 3.25rem;
  line-height: 4rem;
  font-weight: 700;
}
h3, .style-h3 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
}
h4, .style-h4 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 700;
}
h5, .style-h5 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
}
h6, .style-h6 {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 700;
}
/* End Headings */

/* Colors */
.background-color-primary {
  background-color: var(--primary);
  color: var(--white);
}
.background-color-secondary {
  background-color: var(--secondary);
  color: var(--white);
}
.background-color-supporting {
  background-color: var(--supporting);
  color: var(--primary);
}
.background-color-white {
  background-color: var(--white);
  color: var(--primary);
}
/* End Colors */

/* Buttons */
.button {
  background-color: var(--secondary);
  color: var(--white);
  border: 2px solid var(--secondary);
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  transition: 0.3s;
  letter-spacing: 1px;
  font-weight: 700;
  cursor: pointer;
}
.button:hover {
  background-color: var(--white);
  color: var(--secondary);
}
.button.alternative {
  background-color: var(--primary);
  color: var(--supporting);
  border: 2px solid var(--supporting);
}
.button.alternative:hover {
  background-color: var(--supporting);
  color: var(--primary);
}
.button-container {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
}
.button.active {
  background-color: var(--supporting);
  color: var(--primary);
}
/* Navigation */
nav {
  position: fixed;
  width: 100%;
}
.nav-contianer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}
.nav-link {
  padding: 2rem 0;
}
.nav-link_inner {
  padding: .25rem 0;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.nav-link .nav-link_inner:after {
  content: "";
  background-color: var(--supporting);
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 100%;
  transition: left 0.3s ease 0s;
}
.nav-link:hover .nav-link_inner:after {
  left: 0;
}
/* End Navigation */

/* Layout Styles */
.full-screen {
  height: 100dvh;
}
.section-flex {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.flex-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
/* End Layout Styles */