/* Global CSS changes will go into this file */

/* Headings */
h1 {
  font-family: "EB Garamond", serif;
}
/* End Headings */

/* Colors */
.background-color-primary {
  background-color: #062743;
}
.background-color-secondary {
  background-color: #113A5D;
}
.background-color-supporting {
  background-color: #C4FFDD;
}
.background-color-white {
  background-color: #F9F9F9;
}
/* End Colors */
